Xcursor.theme: Deepin-Cursor

URxvt.scrollBar: false
URxvt.cursorBlink: true

URxvt*font:                 xft:Inconsolata\ For\ Powerline:regular:size=14:minspace=False, xft:DejaVu Sans:pixelsize=18

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

*cursorColor: #ffffff
! *pointerColorBackground: #586e75
! *pointerColorForeground: #93a1a1

! ! URxvt.resize-font.smaller: C--
! ! URxvt.resize-font.bigger: C-+

! ! Dracula Xresources palette
!
! special
*.foreground:   #eeeeee
*.background:   #000000
*.cursorColor:  #dfedff

! Computer name background
*.color0:       #3a3a3a
*.color8:       #e788ff

! red
*.color1:       #ff6a00
*.color9:       #b8ff9a

! syntax correct
*.color2:       #00e56e
! ranger dir
*.color10:      #3080b2

! git staged changes
*.color3:       #ff8800
*.color11:      #ffffff

! powerline symbol
*.color4:       #ffff00
! ls dir color
*.color12:      #7a94ff

*.color5:       #7a94ff
*.color13:      #d18a99

*.color6:       #006000
*.color14:      #c2ffd7

*.color7:       #ffffff
*.color15:      #ff0000

