URxvt.scrollBar: false
URxvt.cursorBlink: true
! URxvt.font: xft:monospace:size=11
URxvt*font:  xft:inconsolata:size=10:antialias=true,xft:DejaVu Sans:size=10:antialias=true,xft:Sauce Code Powerline:antialias=true:hinting=true:size=10
URxvt.letterSpace: 1
! URxvt.boldFont:                 xft:DejaVu Sans Mono:autohint=true:bold:size=12
! URxvt.italicFont:               xft:DejaVu Sans Mono:autohint=true:italic:size=12
! URxvt.boldItalicFont:           xft:DejaVu Sans Mono:autohint=true:bold:italic:size=12

! Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
! Xft.hinting:                true
! Xft.hintstyle:              hintslight

! URxvt.background: [75]#000000
*foreground: #657b83
!!*fading: 40
! *fadeColor: #002b36
*cursorColor: #ffffff
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

! URxvt.resize-font.smaller: C--
! URxvt.resize-font.bigger: C-+

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
