flake8
imageio
ipython
ipywidgets
joblib
jsonschema
jupyter
jupyterlab
matplotlib
nltk
notebook
numpy
pandas
Pillow
plotly
Pygments
pylint
PyWavelets
requests
scikit-image
scikit-learn
scipy
seaborn
six
spacy
tqdm
xgboost
