configuration {
    dpi: 120;
	modi: "run,window,pywal:~/.config/rofi/pywal-menu.sh";
	width: 40;
	lines: 8;
	font: "Inconsolata for Powerline 14";
	bw: 0;
	padding: 10;
	show-icons: true;
	terminal: "kitty";
	sidebar-mode: false;
	eh: 2;
	matching: "fuzzy";
    sort: true;
	hide-scrollbar: true;
	fake-transparency: true;
	theme: "~/.cache/wal/colors-rofi-dark.rasi";
	kb-mode-next: "Shift+Right,Control+Tab,Super+d";
}
